<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Система станции</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/starter-template.css" rel="stylesheet">

  </head>
  <body>
{% block top %}
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Открыть</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Система базы</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
           {% block part %}

            {% if newssection %}
              <li class="active"><a href="/">Новости</a></li>
            {% else %}
              <li><a href="/">Новости</a></li>
            {% endif %}

            {% if projectsection %}
              <li class="active"><a href="/projects">Проекты</a></li>
            {% else %}
              <li><a href="/projects">Проекты</a></li>
            {% endif %}

            {% if peoplesection %}
              <li class="active"><a href="/people">Люди</a></li>
            {% else %}
              <li><a href="/people">Люди</a></li>
            {% endif %}
            
			     {% endblock %}
          </ul>
          {% block login %}
          <ul class="nav navbar-nav navbar-right">
				<li><a href="/profile/{{ user.owner.id }}/">{{ user.name }}, {{ user.workstatus }}</a></li>
				<li><a href="/logout">Выйти   </a></li>
          </ul>
			 {% endblock %}
        </div>
      </div>
    </div>
{% endblock %}
    <div class="container" >
    <hr>
      <div class="row row-offcanvas row-offcanvas-right">
		{% block main %}
{% block base %}

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="list-group">
                {% if basestats %}
                    {% for bs in basestats %}
            				<a class="list-group-item">{{ bs.name }} <b>{{ bs.value }}</b></a>
                    {% endfor %}
                {% else %}
            				<a class="list-group-item">Информации о станции нет</a>
                {% endif %}
            <!-- <a class="list-group-item">Уровень кислорода <b>18</b>%</a>
            <a class="list-group-item">Температура <b>24</b> градуса Цельсия</a>
            <a class="list-group-item">Солнечная активность <b>умеренная</b></a> -->
          </div>
        </div>
{% endblock %}
		{% block body %}
        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          {% if loginsuccess %}
          <div class="alert alert-success alert-dismissable">
			  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			  <strong>Добрый день, {{ curusername }}!</strong> Вы успешно вошли в систему базы.
			 </div>
         {% endif %}

          <div class="jumbotron">
            <h1>Внимание, сотрудники базы!!</h1>
            <p>В связи с техническими проблемами системы регенерации воздуха содержание кислорода
             в воздухе базы снижено. Сократите свою физическую активность до минимума, отслеживайте
              своё состояние, а так же состояние окружающих людей, о любых отклонениях от нормы немедленно
               сообщайте руководству.</p>
              <p>Глава отдела тех. поддержки базы - <a href="#123">Николай Ефремов</a></p>
              <p  class="text-muted">2114-04-23 10:18</p>
           </div>
      		<!-- <div class="well"> -->


             {% if n_list %}
					<!-- <dl> -->
              {% for n in n_list %}
              	<div class="well">
                	<h2>{{ n.name }}</h2>
		        		<p>{{ n.discription }} <a href="#123">Подробнее>></a></p>
		        		<p>{{ n.workstatus }} <a href="profile/{{ n.creator.owner_id }}/">
		        		{{ n.creator.surname }} {{ n.creator.name }}, {{ n.creator.workstatus }}</a></p>
		        		<p class="text-muted">{{ n.creationdate }}</p>
		        	</div>
		        <!-- </dl> -->
               {% endfor %}
             {% else %}
              	<div class="well">
              		<h4><p class="text-error">Новостей пока нет</p></h4>
		        	</div>
             {% endif %}

      		
      		
		        <!-- <h2>Прорыв в исследовании технологий марсиан</h2>
		        <p>Нашей исслоедовательской группе удалось добиться слабого электрического отклика от
		         объекта К3-782 при воздействии на него сильным переменным магнитным полем высокой частоты. 
		         В процессе эксперимента мы мы последовательно проверяли воздействие переменных магнитных 
		         полей варьируя частоту и постепенно увеличивая напряжённость магнитного поля и при 
		         определённом их сочетании в объекте возник слабый электрический ток. К сожалению, 
		         повторение опыта не дало результатов.
		         <a href="#123">Подробнее>></a>
		        </p>
		        <p>
		        		Глава проекта <a href="#123">"Исследования марсианских артефактов"</a> - 
		        		<a href="#123">Александр Васильев</a>
		        </p>
		        <p>
		        		2114-04-19 14:32
		        </p>
		        <h2>Терраформирование планеты завершено на 7.00 %</h2>
		        <p>Наша работа достигла очередного юбилея, теперь это 7 процентов. Мы ещё на шаг 
		        приблизились к колонизации это прекрасной планеты. Это наше общее достижение, 
		        каждого техника и инженера, каждого биолога и физика. Спасибо вам всем! 
		         <a href="#123">Подробнее>></a>
		        </p>
		        <p>
		        		Глава базы - 
		        		<a href="#123">Пётр Дунаев</a>
		        </p>
		        <p>
		        		2114-02-26 11:37
		        </p>
		        <h2>Терраформирование планеты завершено на 7.00 %</h2>
		        <p>Наша работа достигла очередного юбилея, теперь это 7 процентов. Мы ещё на шаг 
		        приблизились к колонизации это прекрасной планеты. Это наше общее достижение, 
		        каждого техника и инженера, каждого биолога и физика. Спасибо вам всем! 
		         <a href="#123">Подробнее>></a>
		        </p>
		        <p>
		        		Глава базы - 
		        		<a href="#123">Пётр Дунаев</a>
		        </p>
		        <p>
		        		2114-02-26 11:37
		        </p> -->
        		<!-- </div> -->
        </div>
{% endblock %}
{% endblock %}
      </div>
{% block footer %}
    <div id="footer">
      <div class="container">
        <p class="text-muted">{{ curtime }}</p>
      </div>
    </div>
{% endblock %}
   </div>
    
    <script src="/js/jquery-1.js"></script>
    <script src="/js/bootstrap.js"></script>
  </body>
</html>
