{% extends "News.html" %}
          {% block login %}
          <form class="navbar-form navbar-right" role="form" action='.' method='post'>
          	{% csrf_token %}
            <div class="form-group">
              <input placeholder="Логин" class="form-control" type="text" name="username">
            </div>
            <div class="form-group">
              <input placeholder="Пароль" class="form-control" type="password" name="password">
            </div>
            <button type="submit" class="btn btn-success">Войти</button>
          </form>
{% endblock %}
{% block base %}

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="list-group">
            <a class="list-group-item">Уровень кислорода <b>18</b>%</a>
            <a class="list-group-item">Температура <b>24</b> градуса Цельсия</a>
            <a class="list-group-item">Солнечная активность <b>умеренная</b></a>
          </div>
        </div>
{% endblock %}
{% block body %}
        <div class="col-xs-12 col-sm-9">
          
         {% if loginfault %}
          <div class="alert alert-danger alert-dismissable">
			  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			  <strong>Ошибка!</strong> Не удалось войти в систему базы. Введённая пара логин/пароль не зарегистрирована.
			 </div>
         {% endif %}
         
         {% if logindisabled %}
          <div class="alert alert-warning alert-dismissable">
			  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			  <strong>Ошибка!</strong> Ваш аккаунт заблокирован. Обратитесь к администратору.
			 </div>
         {% endif %}
      		<div class="well">
		        <h2>Новость по одному и проектов</h2>
		        <p>Подробное и никому не интересное описание того, как долгим  кропотливым трудом сотрудникам базы
		        удалось достичь хоть каких-то якобы результатов по одному из абсолютно тупиковых проектов.
		         <a href="#123">Подробнее>></a>
		        </p>
		        <p>
		        		Глава тупикового проекта <a href="#123">"Название тупикового проекта"</a> - 
		        		<a href="#123">Руководитель тупикового проекта</a>
		        </p>
		        <p>
		        		Время написания новости.
		        </p>
		        <h2>Какая-то новость, которая должна подбодрить всех на станции</h2>
		        <p>Пончики в столовой теперь обсыпают пудрой с двух сторон! Длительное описание того, как удалось
		        достичь таких поразительных результатов. Интервью со специаистами, мнение ркуоводителей, другая пафосная
		        ерунда. 
		         <a href="#123">Подробнее>></a>
		        </p>
		        <p>
		        		Долхжность какого-то важного чувака- 
		        		<a href="#123">Какой-то важный чувак</a>
		        </p>
		        <p>
		        		Время написания новости.
		        </p>
        		</div>
        </div>
{% endblock %}

