{% extends "News.html" %}
{% block body %}
        <div class="col-xs-12 col-sm-9">
         <div class="well">
    	  <h2>{{ project.name }}</h2>
		  <p>{{ project.text }}</p>
	      {% if projectmembers %}
           {% for n in projectmembers %}
            <div class="well">
             <h2><a href="/profile/{{ n.owner.owner_id }}/">
                {{ n.owner.surname }} {{ n.owner.name }}, {{ n.owner.workstatus }}</a></h2>
             <p>{{ n.status }}</p>
            </div>
           {% endfor %}
          {% else %}
           <div class="well">
            <h4><p class="text-error">На проекте никто не зарегистрирован</p></h4>
           </div>
          {% endif %}
		  <p class="text-muted">{{ project.creationdate }}</p>
		 </div>
        </div>
{% endblock %}

